body {
	font-family: 'Raleway', sans-serif;
}

.header {
	text-align: center;
	font-size:50px;
}

hr {
	border: 1px solid black;

}

.explaination {
	width:29%;
	margin-left:37%;
	padding-top:6%;
}

button {
	padding:1.2%;
	margin-left:45%;
	margin-top:2%;
}

a:link {
	text-decoration: none;
}

a:visited {
	color:inherit;
}

table  {
	border:1px solid black;
	border-collapse: collapse;
	margin:4% 0 0 16%;
	height:450px;
	table-layout:fixed;

}

table a:link {
	color:blue;
}

table a:visited {
	color:blue;
}

tbody {
	height: 450px;
	overflow-x: hidden;
	overflow-y:auto;
	display:block;
	column-rule-color: black;
}

td {
	border-right:1px solid black;
	width:25%;
}

th {
	width:26%;
	text-align:left;
	background-color:grey;
}

.countryInfo {
	margin-left:18%;
}

.countryName {
	font-size: 45px;
}

li {
	list-style-type: none;
}

span {
	padding: 0 1%;
	border-right: 1px solid black;
}

span a:link {
	color:blue;
}

span a:visited {
	color:blue;
}

#flag {
	width:25%;
	padding-top:5%;
	margin-left:11%;
}

#myImage {
	padding-left:9%;
	width:21%;
}

#browseOther {
	margin-left:-1%;
}

/*.applyAnimation.ng-enter {
	transition: 1s linear all;
	opacity:0;
}

.applyAnimation.ng-enter-stagger {
	transition-delay: 0.1s;
	transition-duration: 0s;
}

.applyAnimation.ng-enter.ng-enter-active {
	opacity: 1;
}*/

/*.view-animation.ng-enter, .view-animation.ng-leave {
	transition: 2s linear all;
	position:fixed;
	width:100%;
}

.view-animation.ng-enter {
	transform:translateX(0%);
}

.view-animation.ng-enter.ng-enter-active {
	transition:2s;
}

.view-animation.ng-leave,
.view-animation.ng-enter.ng-enter-active {
  transform:translateX(0%);
}
.view-animation.ng-leave.ng-leave-active {
  transform:translateX(100%);
}*/